name: Run Market Scanner Accum

on:
  schedule:
    - cron: "30 10 * * 5"   # Jumat 17:30 WIB (10:30 UTC)
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Script
        env:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
        run: python ScannerAkumulasi.py
