name: Run Market Scanner

on:
  schedule:
    - cron: "0 5 * * 1-5"    # 12:00 WIB (05:00 UTC) Senin–Jumat
    - cron: "0 10 * * 1-5"   # 17:00 WIB (10:00 UTC) Senin–Jumat
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Script
        env:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
        run: python scanner.py
