name: Run Market Scanner

on:
  schedule:
    - cron: "0 10 * * *"   # Jam 06:00 WIB (23:00 UTC)
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Script
        env:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
        run: python scanner.py
